<div class="advertisements">
  <h1>Anúncios</h1>

  <div class="first-container">
    <form>
      <div class="card">
        <div class="search-container">
          <h3>Pesquisa</h3>
          <label for="type">Tipo</label>
          <select name="type" id="type"></select>
          <label for="sex">Sexo</label>
          <select name="sex" id="sex"></select>
          <label for="size">Tamanho</label>
          <select name="size" id="size"></select>
          <input class="btn" type="submit" value="Pesquisar">
        </div>
      </div>
    </form>
  </div>
  <ul class="first-cards">
    <li class="card">
      <img src="">
      <strong>pet name</strong>
      <p>type/sex</p>
      <p>size</p>
      <p>age</p>
    </li>
    <li class="card">
      <img src="">
      <strong>pet name</strong>
      <p>type/sex</p>
      <p>size</p>
      <p>age</p>
    </li>
  </ul>
</div>
<ul class="card-list">
  <li class="card">
  </li>
  <li class="card">
  </li>
  <li class="card">
  </li>
</ul>
