<div class="advertisements">
  <h1>Anúncios</h1>

  <div class="first-container">
    <form>
      <div class="card">
        <div class="search-container">
          <h3>Pesquisa</h3>
          <label for="type">Tipo</label>
          <select name="type" id="type">
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
          </select>
          <label for="sex">Sexo</label>
          <select name="sex" id="sex">
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
          </select>
          <label for="size">Tamanho</label>
          <select name="size" id="size">
            <option value="Pequeno">Pequeno</option>
            <option value="Médio">Médio</option>
            <option value="Grande">Grande</option>
          </select>
          <input class="btn" type="submit" value="Pesquisar" (click)="filter()">
        </div>
      </div>
    </form>
    <ul class="card-list" *ngIf="advertisements.length">
      <span *ngFor="let advertisement of this.advertisements; let i = index;">
        <li class="card" *ngIf="i < 2">
          <img src="../../../assets/dog1.png" width="200" height="200">
          <div class="card-container">
            <div class="card-content">
              <strong>{{advertisement.name}}</strong>
              <p>{{advertisement.type}}, {{advertisement.sex}}</p>
              <p>{{advertisement.size}}</p>
              <p>Idade: {{advertisement.age}}</p>
            </div>
            <img src="../../../assets/arrow-right.svg" width="1rem" height="1rem">
          </div>
        </li>
      </span>
    </ul>
  </div>
  <ul class="card-list" *ngIf="advertisements.length">
    <span *ngFor="let advertisement of this.advertisements; let i = index;">
      <li class="card" *ngIf="i >= 2">
        <img src="../../../assets/dog1.png" width="200" height="200">
        <div class="card-container">
          <div class="card-content">
            <strong>{{advertisement.name}}</strong>
            <p>{{advertisement.type}}, {{advertisement.sex}}</p>
            <p>{{advertisement.size}}</p>
            <p>Idade: {{advertisement.age}}</p>
          </div>
          <img src="../../../assets/arrow-right.svg" width="1rem" height="1rem">
        </div>
      </li>
    </span>
  </ul>
</div>
