.login {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  font-weight: bold;
}

.login-container h2 {
  font-size: 2rem;
}

.card {
  width: 20rem;
  height: 13rem;
  padding: 2rem;
}

.card .btn {
  width: 100%;
  background-color: var(--orange);
}

.login-container h1 {
  color: rgb(71, 201, 71);
  text-align: center;
}

.login p {
  color: white;
}

.login button {
  margin-top: 20px;
  background-color: rgb(71, 201, 71);
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.login button:hover {
  cursor: pointer;
}
