<main>
  <section>
    <img src="assets/banner.webp" width="100%">
  </section>
  <section class="sctn-about-us">
    <h1>Conheça a PetIN</h1>
    <span>Olá</span>, nós somos a <span>PetIN</span>.
    Aqui você encontrará seu companheiro e novo amiguinho!
    Basta se cadastrar para entrar em contato com uma publicação
    ou cadastrar algum bichinho a espera da adoção,
    assim futuros tutores poderão encontrá-lo aqui também!
  </section>
  <section class="sctn-reports">
    <div class="reports-info">
      <h1>O que dizem <br>sobre a plataforma?</h1>
      <p>Aqui mostramos como foi a experiência
        de ter adotado seu amigão por meio da
        <span>PetIN</span> No fim, o amor sempre vence.
        Conte para gente o seu depoimento/testemunho!
      </p>
    </div>
    <div class="report-cards">
      <ol class="cards">
        <li class="card">
          <div class="header">
            <div class="avatar">
              <!-- <img src="#" alt="avatar"> -->
            </div>
            <div class="info">
              <h4>Alexandra</h4>
              <p>Tutora de Cuica</p>
            </div>
          </div>
          <div class="body">
            A princípio fiquei apreensiva com a plataforma e com
            a adoção. Mas foi tudo super de boa. A Cuica em poucos
            dias já foi se acostumando e está bem tranquila agora.
          </div>
        </li>
        <li class="card">
          <div class="header">
            <div class="avatar">
              <!-- <img src="#" alt="avatar"> -->
            </div>
            <div class="info">
              <p>Jorge Fernando</p>
              <p>Tutor de Alex</p>
            </div>
          </div>
          <div class="body">
            Consegui um pet muito companheiro e atencioso.
            O processo foi nota 1000! Recomendo a todos, muito
            prático e confiável.
          </div>
        </li>
      </ol>
    </div>
  </section>
  <section class="sctn-partners">
    <h1>Nossos parceiros</h1>
    <ul>
      <li class="rectangle">
      </li>
      <li class="rectangle">
      </li>
      <li class="rectangle">
      </li>
      <li class="rectangle">
      </li>
    </ul>
  </section>
</main>
