<div class="footer-container">
  <div class="footer-content">
    <section>
      <span><img src="../../../assets/petin-logo-footer.svg" width="200px"></span>
    </section>
    <hr>
    <section class="info">
      <h4>Institucional</h4>
      <ul class="info-list">
        <li>Sobre a PetIN</li>
        <li>Parceiros</li>
      </ul>
    </section>
    <hr>
    <section class="info">
      <h4>
        FAQ
      </h4>
      <ul class="info-list">
        <li>Como ajudar?</li>
        <li>Como adotar?</li>
      </ul>
    </section>
  </div>
</div>
